<html>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <style>
    body{
      text-align:center;
   } 
    .answer{
    display: inline-block;
    margin-top: 200px;
    font-weight: bold;
    font-size: 120pt;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    }
  </style>
<body ng-app="myApp" ng-controller="birthdayController">
<div id="no" class="answer" ng-if="!isBirthday">NO</div>
<div id="yes" class="answer" ng-if="isBirthday">YES</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script>
var myApp = angular.module('myApp',[]);

myApp.controller('birthdayController', ['$scope', function($scope) {
  $scope.date = new Date() ;
  $scope.isBirthday = ($scope.date.getMonth==11)&&($scope.date.getDate==30);
}]);
</script>
</body>
</html>
